<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pdx.cs410j.swet.phonebill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Android-phonebill"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchPrintActivity"></activity>
        <activity android:name=".PrettyPrintActivity" />
        <activity android:name=".SearchPhoneCallActivity" />
        <activity android:name=".AddPhoneCallActivity" />
        <activity android:name=".ReadMeActivity" />

        <activity
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>